@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply box-border bg-white;
  }
}

@layer components {
  /* local css */
  .grid-pseudo {
    @apply before:absolute before:left-0 before:top-1/2 before:right-0 before:bottom-0 before:flex before:items-center before:justify-center before:bg-primary/60 before:font-thin  before:text-white before:opacity-0
  }
  .grid-pseudo-hover {
    @apply hover:before:top-0 hover:before:opacity-100 before:duration-300
  }

  /* plugin custom css */
  .disabled {
    @apply pointer-events-none;
  }
  .cell-day {
    @apply cursor-pointer rounded-lg p-2 text-sm hover:bg-gray-100;
  }
  .disabled .cell-day {
    @apply bg-white text-[#ddd] !important;
  }
  .highlight .cell-day {
    @apply bg-[#efdbca];
  }
  .highlight-active .cell-day {
    @apply bg-[#d4e2cb];
  }
  .swiper > .swiper-pagination {
    @apply left-52 bottom-10 text-left;
  }
  .swiper > .swiper-pagination > .swiper-pagination-bullet {
    @apply border-2 border-white bg-transparent p-[3px];
  }
  .swiper > .swiper-pagination > .swiper-pagination-bullet-active {
    @apply bg-white;
  }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

:root {
  --swiper-theme-color: #fff;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
